@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@300;400;500;600&family=Source+Sans+3:wght@400;600&display=swap');

* {
    font-family: 'Petrona', 'Source Sans 3';
}

:root {
    --font-color-titles: #BE868C;
    --font-color-subtitles: #777A6F;
    --font-size-title: 40px;
    --font-size-subtitle: 20px;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F1EAE3;

}

a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 20px 0px;
    background-color: #F1EAE3;
}

.menu_mobile {
    display: none;
}

.menu_mobile_open {
    display: none;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo_menu {
    max-width: max-content;
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    max-width: max-content;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #AD4D56;
    font-family: 'Source Sans 3';
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    text-decoration: none;
}

/*Container 1*/

.container_1 {
    display: flex;
    justify-content: center;
    width: 100%;

}

.container_1_int {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.area_container_1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.shadow {
    position: absolute;
    left: 0px;
    width: 100%;
    max-width: 628px;
    height: 100%;
    background: linear-gradient(90deg, #777A6F 0%, rgba(119, 122, 111, 0.00) 100%);
    z-index: -1;
}

.area_slide {
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
}

.slide-1 .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    width: 100%;
    bottom: 100px;
    margin-top: 0px !important;
}

.slide-1.owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
    background: #FFFFFF !important;
    margin: 0px !important;
    transition: all ease 200ms !important;
    display: flex;
    border-radius: 100px;
}

.slide-1.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #F1EAE3 !important;
    height: 15px !important;
    width: 30px !important;
    display: flex;
    border-radius: 100px;
}

.area_text_slide_total {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    height: 100%;
}

.area_text_slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    width: 100%;
    max-width: 540px;
}

.btn_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: #F6F1EC;
    max-width: 216px;
    padding: 10px 25px;
}

.btn_slide h2 {
    color: #777A6F;
    font-family: 'Source Sans 3';
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.btn_slide_link {
    max-width: max-content;
}

.title_slide h2 {
    color: #F6F1EC;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.sub_title_slide p {
    color: #F6F1EC;
    font-family: 'Source Sans 3';
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

/*Container 2*/
.container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0px 40px 0px;
}

.container_2_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_container_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.Main_Photo {
    filter: drop-shadow(17px 17px 43px #CDB398);
    max-width: 610px;
    width: 100%;

}

.area_texts_container_2_total {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 560px;
    width: 100%;
}

.area_texts_container_2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.title_container_2 h2 {
    color: var(--font-color-titles);
    font-size: var(--font-size-title);
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.sub_title_container_2 p {
    color: var(--font-color-subtitles);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}


.area_icons_container_2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.icons_container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 180px;
}

.title_icons h2 {
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #777A6F;
    margin: 0px;
}

/*Serviços*/

.container_servicos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_servicos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    max-width: 1280px;
    width: 100%;
}

.area_servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

.title_servicos h2 {
    color: #BE868C;
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.area_modal {
    display: none;
    position: fixed;
    background-color: #f1eae3c7;
    width: 100%;
    height: 100vh;
    z-index: 99;
    top: 0px;
}

.modal_img {
    max-width: max-content;
    width: 100%;
}

.area_modal_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal {
    display: flex;
    justify-content: center;
    gap: 40px;
    border-radius: 28px;
    background: #F4EFEA;
    box-shadow: 16px 7px 28px 0px #E5C6B8;
    width: 100%;
    padding: 60px 40px;
    max-width: 1240px;
    position: relative;
}

.area_principal_servicos {
    cursor: pointer;
}

.area_texts_modal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 525px;
}

.title_modal h2 {
    color: #BE868C;
    font-size: var(--font-size-title);
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}

.sub_title_modal p {
    color: #777A6F;
    font-family: 'Source Sans 3';
    font-size: var(--font-size-subtitle);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.infos_modal p {
    color: #777A6F;
    font-family: 'Source Sans 3';
    font-size: var(--font-size-subtitle);
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.area_info_modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close_modal {
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: max-content;
    width: 100%;
    cursor: pointer;
}

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.servicos img {
    filter: drop-shadow(16px 7px 28px #E5C6B8);
}

.info_servicos h3 {
    color: #777A6F;
    font-family: 'Source Sans 3';
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.info_servicos_title h3 {
    color: #777A6F;
    font-family: 'Source Sans 3';
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}


.area_horarios {
    width: 100%;
    max-width: 640px;
    border-radius: 22px;
    background: linear-gradient(178deg, #F9F6F3 0%, rgba(241, 234, 227, 0.00) 100%);
    box-shadow: 16px 7px 28px 0px #E5C6B8;
    padding: 20px 0px;
}

.area_horarios_int {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.infos_horarios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: max-content;
}

.area_texts_horarios {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title_dias h3 {
    color: #BE868C;
    font-family: 'Source Sans 3';
    font-size: var(--font-size-subtitle);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}


.divisor {
    background: rgba(190, 134, 140, 0.21);
    width: 100%;
    height: 2px;
}

.divisor_2 {
    height: 35px;
    width: 1px;
    background: #BE868C;
}

/*Galeria*/

#container_galeria {
    width: 100%;
    background: #AA8878;
    box-shadow: 7px 23px 31px 0px #8C6553 inset;
    padding: 60px 0px 60px 0px;
}

.container_galeria {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_galeria_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1440px;

}

.area_galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title_galeria h2 {
    color: #F6F1EC;
    text-align: center;
    font-family: 'Petrona';
    font-size: var(--font-size-title);
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}

.box {
    height: 330px;
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    background: #E9E1DD;
}

.area_slide_2_total {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.slide-2 {
    display: flex !important;
    justify-content: flex-end;
    width: 100% !important;
    width: 100% !important;
    max-width: 1600px;
}

.slide-2 .item {
    display: flex;
    justify-content: flex-start;

}

.slide-2 .item img {
    max-width: max-content;
    width: 100% !important;
}

.slide-2 .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    width: 100%;
    bottom: 20px;
    margin-top: 0px !important;
}

.slide-2.owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
    background: #FFFFFF !important;
    margin: 0px !important;
    transition: all ease 200ms !important;
    display: flex;
    border-radius: 100px;
}

.slide-2.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #F1EAE3 !important;
    height: 15px !important;
    width: 30px !important;
    display: flex;
    border-radius: 100px;
}

.slide-2 .owl-nav {
    height: 100%;
}

.slide-2 .owl-nav .owl-prev {
    position: absolute;
    left: 0px;
    height: 100%;
    background: linear-gradient(90deg, #874B4B 25%, rgba(217, 217, 217, 0.00) 120%) !important;
    backdrop-filter: blur(50px);
    width: 40px;
}

.slide-2 .owl-nav .owl-next {
    position: absolute;
    right: 0px;
    height: 100%;
    background: linear-gradient(90deg, #874B4B 25%, rgba(217, 217, 217, 0.00) 120%) !important;
    backdrop-filter: blur(50px);
    width: 40px;
}

/*Feedback*/

.container_feedback {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.fNqGxJ {
    font-family: 'Petrona';
}

.container_feedback_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}


.area_feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}


.title_feedback h2 {
    color: #BE868C;
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}


/*Footer*/

footer {
    width: 100%;
    height: 450px;
    background-image: url(../img/bg_footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.title_footer h2 {
    color: #F6F1EC;
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.btn_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: #F6F1EC;
    max-width: 216px;
    padding: 10px 25px;
}

.btn_footer h2 {
    color: #777A6F;
    font-family: 'Source Sans 3';
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.btn_link {
    max-width: max-content;
}

.title_slide h2 {
    color: #F6F1EC;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.area_redes {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    background-blend-mode: normal, hard-light;
    box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.63) inset;
    width: 100%;
    padding: 10px 0px;
}


.area_redes_int {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 20px;
    width: 100%;
    max-width: 1280px;
}

.area_redes_int a {
    display: flex;
    align-items: center;
}






@media(max-width: 1024px) {

    :root {
        --font-size-title: 32px;
        --font-size-subtitle: 18px;
    }

    nav ul {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 10px;
    }

    .menu_mobile nav ul li a:hover {
        color: #AD4D56;
    }

    header {
        padding: 20px 20px;
        width: auto;
    }

    .menu_mobile nav ul li a:hover {
        color: #BE868C;
    }

    @keyframes move {
        0% {
            top: -100%;

        }

        100% {
            top: 150px;
        }

    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        margin: 0px 20px 0px 20px;
        height: 49px;
    }

    .line_1 {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2 {
        position: absolute;
        transform: rotate(50deg);
    }


    .menu_mobile_close div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #BE868C;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }


    .menu_mobile_open div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #BE868C;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    .menu_mobile {
        transition: all ease-in 400ms;
        display: none;
        width: 100%;
        position: absolute;
        justify-content: center;
        text-align: center;
        top: 80px;
        left: 0px;
        background-color: #F1EAE3;
        filter: drop-shadow(17px 17px 43px #CDB398);
        z-index: 10;
        padding: 20px 0px 20px 0px;
    }

    .menu_mobile nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .menu_mobile nav ul li a {
        font-size: 18px;
    }

    .modal {
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .area_texts_modal {
        gap: 10px;
    }

    /*Slide banner*/
    .area_slide {
        height: 550px;
    }

    .title_slide h2 {
        font-size: 38px;
    }

    .area_text_slide_total {
        max-width: 620px;
    }

    .area_text_slide {
        gap: 20px;
    }

    .container_2 {
        padding: 40px 0px 40px 0px;
    }

    .area_texts_container_2_total {
        gap: 40px;
    }

    .area_container_2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        padding: 0px 20px;
    }

    .area_texts_container_2 {
        gap: 20px;
    }

    .container_servicos {
        padding: 20px 0px 40px 0px;
    }


    /*Galeria*/
    #container_galeria {
        padding: 40px 0px 40px 0px;
    }

    .container_galeria_int {
        gap: 20px;
    }

    .area_slide_2_total {
        margin-top: 20px;
    }

    /*Feedback*/
    .container_feedback {
        padding: 40px 0px 40px 0px;
    }

    .area_feedback {
        gap: 20px;
    }



    footer {
        height: 320px;
    }

    .area_footer {
        gap: 20px;
    }

}

@media(max-width: 768px) {
    .area_servicos {
        gap: 30px;
    }


    .infos_horarios {
        gap: 15px;
    }

    .infos_horarios img {
        max-width: 40px;
    }
}


@media(max-width: 480px) {

    :root {
        --font-size-title: 28px;
        --font-size-subtitle: 18px;
    }

    .area_text_slide_total {
        max-width: 400px;
    }

    .area_text_slide {
        max-width: 400px;
    }

    .area_texts_container_2_total {
        gap: 20px;
    }

    .area_container_2 {
        gap: 30px;
    }

    .icons_container_2 {
        max-width: 140px;
        gap: 15px;
    }

    .area_icons_container_2 {
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }

    .container_servicos {
        padding: 0px 0px 40px 0px;
    }

    .container_servicos_int {
        gap: 20px;
    }
    .area_horarios {
        max-width: 340px;
    }

    .servicos {
        gap: 20px;
    }

    .info_servicos_title h3 {
        font-size: 26px;
    }

    .infos_horarios {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .area_horarios_int {
        flex-direction: column;
        gap: 20px;
    }

    .divisor_2 {
        height: 1px;
        width: 35px;
        background: #BE868C;
    }

    .slide-2 .owl-nav img {
        max-width: 15px;
        height: auto;
    }

    .slide-2 .owl-nav .owl-prev {
        position: absolute;
        left: 0px;
        height: 100%;
        background: linear-gradient(90deg, #874B4B 25%, rgba(217, 217, 217, 0.00) 120%) !important;
        backdrop-filter: blur(50px);
        width: 25px;
    }
    
    .slide-2 .owl-nav .owl-next {
        position: absolute;
        right: 0px;
        height: 100%;
        background: linear-gradient(90deg, #874B4B 25%, rgba(217, 217, 217, 0.00) 120%) !important;
        backdrop-filter: blur(50px);
        width: 25px;
    }

    .box {
        margin: 0px 20px;
    }

    
    .area_redes_int {
        padding: 0px 20px;
    }
    .close_modal {
        position: absolute;
        right: 20px;
        top: 5px;
        max-width: 30px;
        width: 100%;
        cursor: pointer;
    }

    footer {
        height: 250px;
    }

    .area_footer {
        margin-top: -30px;
    }

}