RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://santaceciliaesmalteria.com.br//$1 [R=301,L]

# BEGIN Compress text files
<ifModule mod_deflate.c>
  <filesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>
# END Compress text files

# BEGIN Expire headers
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 10 days"
  ExpiresByType image/x-icon "access plus 10 days"
  ExpiresByType image/jpeg "access plus 10 days"
  ExpiresByType image/png "access plus 11 days"
  ExpiresByType image/webp "access plus 11 days"
  ExpiresByType image/svg "access plus 11 days"
  ExpiresByType application/x-shockwave-flash "access plus 10 days"
  ExpiresByType text/javascript "access plus 10 days"
  ExpiresByType application/javascript "access plus 10 days"
  ExpiresByType application/x-javascript "access plus 10 days"
  ExpiresByType application/xhtml+xml "access plus 10 days"
  ExpiresByType application/x-font-ttf "access plus 10 days"
  ExpiresByType video/mp4 "access plus 10 days"
</ifModule>
# END Expire headers

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpeg|png|webp|svg|mp4)$">
    Header set Cache-Control "10 days, public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "10 days, public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "11 days, private"
  </filesMatch>
  <filesMatch "\.(x|html|php)$">
    Header set Cache-Control "10 days, private, must-revalidate"
  </filesMatch>
</ifModule>
# END Cache-Control Headers

# BEGIN Turn ETags Off
<ifModule mod_headers.c>
  Header unset ETag
</ifModule>
FileETag None
# END Turn ETags Off

# BEGIN Remove Last-Modified Header
<ifModule mod_headers.c>
  Header unset Last-Modified
</ifModule>
# END Remove Last-Modified Header